$blue_bg: #3a4663;
$blue_c1: #242d44;
$blue_display: #181f33;
$blue_keyboard_bg: #242d44;
$blue_primary: #d03f2f;
$blue_primary_hover: #f96b5b;
$blue_secondary: #647198;
$blue_secondary_hover: #a2b2e1;
$blue_default: #eae3dc;
$blue_default_hover: #ffffff;
$blue_text_default: #434a59;

$white_bg: #e6e6e6;
$white_c1: #d2cdcd;
$white_display: #eeeeee;
$white_keyboard_bg: #d2cdcd;
$white_primary: #c85402;
$white_primary_hover: #ff8a38;
$white_secondary: #378187;
$white_secondary_hover: #62b5bc;
$white_default: #e5e4e1;
$white_default_hover: #ffffff;
$white_text_default: #36362c;

$purple_bg: #17062a;
$purple_c1: #1e0936;
$purple_display: #1e0936;
$purple_keyboard_bg: #1e0936;
$purple_primary: #00ded0;
$purple_primary_hover: #93fff8;
$purple_secondary: #56077c;
$purple_secondary_hover: #8631af;
$purple_default: #331c4d;
$purple_default_hover: #6c34ac;
$purple_text_default: #ffe53d;

$black: #000000;
$white: #ffffff;
